### Impute/Replace Missing Values

- Dataset: msleep.csv
- Learning Date: 13-Dec-23
- Learning from: Prasert Kanawattanachai (CBS)
    - Github: https://github.com/prasertcbs/

In [1]:
# import libraries

import pandas as pd 
import numpy as np

In [2]:
print(f'Pandas version: {pd.__version__}')

Pandas version: 1.5.2

In [3]:
# import data to a dataframe

df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df.head(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019

In [4]:
# get sample data randomly

df = df.sample(20, random_state = 123) # set random state as we would like to reproduce data
df.head(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.2,NaN,0.112
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.000
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104

In [5]:
df.shape

(20, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 69 to 81
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          20 non-null     object
 1   genus         20 non-null     object
 2   vore          18 non-null     object
 3   order         20 non-null     object
 4   conservation  14 non-null     object
 5   sleep_total   20 non-null     float64
 6   sleep_rem     14 non-null     float64
 7   sleep_cycle   9 non-null      float64
 8   awake         20 non-null     float64
 9   brainwt       16 non-null     float64
 10  bodywt        20 non-null     float64
dtypes: float64(6), object(5)
memory usage: 1.9+ KB

### check NA in 'vore' column

In [7]:
df[df.vore.isna()] # get the row which vore's data is NA

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048

### scikit-learn: SimpleImputer

In [8]:
import sklearn
from sklearn.impute import SimpleImputer # we normally use fillna() btw SimpleImputer is more flexible if our data is not in a dataframe format such as numpy array

In [9]:
# here are apply SimpleImputer on a pandas dataframe

imp = SimpleImputer(strategy = 'most_frequent') # create an object 'imp' to call SimpleImputer and then pass strategy
imp.fit_transform(df[['vore']]) # require to pass data as datafram to fit_transform

array([['herbi'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['omni'],
       ['herbi'],
       ['carni'],
       ['carni'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['carni']], dtype=object)

In [10]:
df.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.2,NaN,0.112
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.000
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.1,NaN,899.995

In [11]:
df[df.vore.isna()] # get the row which vore's data is NA

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048

In [12]:
df['vore2'] = imp.fit_transform(df[['vore']]) # require to pass data as datafram to fit_transform
df.head(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,vore2
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920,herbi
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.2,NaN,0.112,herbi
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.000,herbi
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104,omni

In [13]:
df[df.vore2.isna()] # get the row which vore's data is NA

Empty DataFrame
Columns: [name, genus, vore, order, conservation, sleep_total, sleep_rem, sleep_cycle, awake, brainwt, bodywt, vore2]
Index: []

In [14]:
df[df['vore'].isna()][['name', 'vore', 'vore2']]

          name vore  vore2
62  Rock hyrax  NaN  herbi
72  Musk shrew  NaN  herbi

In [15]:
imp2 = SimpleImputer(strategy = 'constant', fill_value = 'omni') # fill NA with constant value 'omni
imp2

SimpleImputer(fill_value='omni', strategy='constant')

In [16]:
df['vore3'] = imp2.fit_transform(df[['vore']])
df.head(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,vore2,vore3
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920,herbi,herbi
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.2,NaN,0.112,herbi,herbi
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.000,herbi,herbi
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104,omni,omni

In [17]:
df[df['vore'].isna()][['name', 'vore', 'vore2', 'vore3']]

          name vore  vore2 vore3
62  Rock hyrax  NaN  herbi  omni
72  Musk shrew  NaN  herbi  omni

In [18]:
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,vore2,vore3
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.40,0.00570,0.920,herbi,herbi
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.20,NaN,0.112,herbi,herbi
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.00,0.42300,600.000,herbi,herbi
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.10,0.00250,0.104,omni,omni
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.10,NaN,899.995,herbi,herbi
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.60,0.02100,3.600,herbi,omni
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.90,0.00350,0.770,omni,omni
37,Macaque,Macaca,omni,Primates,NaN,10.1,1.2,0.750000,13.90,0.17900,6.800,omni,omni
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.60,0.16900,207.501,herbi,herbi
31,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,NaN,17.80,0.32500,85.000,carni,carni
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.90,0.07000,14.000,carni,carni
44,Slow loris,Nyctibeus,carni,Primates,NaN,11.0,NaN,NaN,13.00,0.01250,1.400,carni,carni
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.00,0.09820,14.800,herbi,herbi
71,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,NaN,8.10,NaN,0.205,herbi,herbi
59,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,NaN,NaN,18.45,NaN,53.180,carni,carni
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.20,0.00400,0.101,herbi,herbi
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.90,0.41900,187.000,herbi,herbi
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.00,0.00630,1.700,omni,omni
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.20,0.00033,0.048,herbi,omni
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.50,0.04450,3.380,carni,carni

In [19]:
# imp3 = SimpleImputer(strategy = 'mean')
# imp3 = SimpleImputer(strategy = 'median')

imp3 = SimpleImputer(strategy = 'constant', fill_value = -99)
df['sleep_rem4'] = imp3.fit_transform(df[['sleep_rem']])
df.tail(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,vore2,vore3,sleep_rem4
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.9,0.41900,187.000,herbi,herbi,0.4
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700,omni,omni,4.9
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048,herbi,omni,2.0
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380,carni,carni,-99.0

In [20]:
df[df.sleep_rem.isna()][['name', 'sleep_rem', 'sleep_rem4']]

                         name  sleep_rem  sleep_rem4
69     Arctic ground squirrel        NaN       -99.0
75  Eastern american chipmunk        NaN       -99.0
44                 Slow loris        NaN       -99.0
9                    Roe deer        NaN       -99.0
59            Common porpoise        NaN       -99.0
81                 Arctic fox        NaN       -99.0

In [22]:
# imp_x = SimpleImputer(strategy = 'mean')
# imp_x = SimpleImputer(strategy = 'median')
# imp_x = SimpleImputer(strategy = 'median')
imp_x = SimpleImputer(missing_values = -99, strategy = 'constant', fill_value = np.nan)

df['sleep_rem5'] = imp_x.fit_transform(df[['sleep_rem4']])
df[df['sleep_rem4'] == -99][['name', 'sleep_rem4', 'sleep_rem5']]

                         name  sleep_rem4  sleep_rem5
69     Arctic ground squirrel       -99.0         NaN
75  Eastern american chipmunk       -99.0         NaN
44                 Slow loris       -99.0         NaN
9                    Roe deer       -99.0         NaN
59            Common porpoise       -99.0         NaN
81                 Arctic fox       -99.0         NaN

In [23]:
imp_x = SimpleImputer(strategy = 'mean')
# imp_x = SimpleImputer(strategy = 'median')
# imp_x = SimpleImputer(strategy = 'median')
# imp_x = SimpleImputer(missing_values = -99, strategy = 'constant', fill_value = np.nan)

df['sleep_rem6'] = imp_x.fit_transform(df[['sleep_rem5']])
df[df['sleep_rem5'].isna()][['name', 'sleep_rem4', 'sleep_rem5', 'sleep_rem6']]

                         name  sleep_rem4  sleep_rem5  sleep_rem6
69     Arctic ground squirrel       -99.0         NaN         2.0
75  Eastern american chipmunk       -99.0         NaN         2.0
44                 Slow loris       -99.0         NaN         2.0
9                    Roe deer       -99.0         NaN         2.0
59            Common porpoise       -99.0         NaN         2.0
81                 Arctic fox       -99.0         NaN         2.0